@using App.ViewModels;
@model TarefaViewModel;
@{
    ViewData["Title"] = "Tarefas";

    var Tarefas = ViewBag.Tarefas;

    string ChekedSeConcluido(bool concluido){
        if(concluido) return "checked";

        return "";
    }
}

<main class="tarefas">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="card box-shadow mb-5">
        <div class="card-body">
            <form asp-action="criar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <input asp-for="Conteudo" class="form-control" placeholder="Nova tarefa..." />
                    <span asp-validation-for="Conteudo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary d-block w-100" />
                </div>
            </form>
        </div>
    </div>

    @if (Tarefas.Count > 0)
    {
        <div class="card box-shadow pt-3">
            <div class="card-body">
                <p class="text-muted text-end"><i class="fa-solid fa-circle-question"></i> Editar: Clique duas vezes com o mouse sobre o texto da tarefa.</p>

                @foreach (TarefaViewModel tarefa in Tarefas)
                {
                    <div class="bg-dark bg-gradient text-white p-3 mb-3 d-flex align-items-center justify-content-between @ChekedSeConcluido(tarefa.Concluido)">
                        <div class="d-flex flex-grow-1 align-items-center">
                            <form asp-action="EditarCheckbox" class="me-3 ">
                                <input name="Id" type="hidden" value="@tarefa.Id">
                                @if (tarefa.Concluido)
                                {
                                    <input name="Concluido" class="m-0" type="checkbox" value="@tarefa.Concluido" checked>
                                }
                                else
                                {
                                    <input name="Concluido" class="m-0" type="checkbox" value="@tarefa.Concluido">
                                }
                            </form>
                            <p data-id="@tarefa.Id" class="conteudo flex-grow-1 m-0 py-3">@tarefa.Conteudo</p>
                        </div>

                        <form asp-action="Excluir" class="ms-3">
                            <input name="Id" type="hidden" value="@tarefa.Id">
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </div>
                }

            </div>
        </div>
    }
    else
    {
        <p class="alert alert-info text-center">Nenhuma tarefa cadastrada.</p>
    }

   
</main>

<script>
    let checkboxes = document.querySelectorAll("input[type=checkbox]");
    let listaConteudo = document.querySelectorAll(".conteudo");

    let ultimoConteudoClicado = "";
    let ultimoElementoPai = null;

    let editando = false;

    checkboxes.forEach(el => {
        el.onclick = () => {
            el.parentElement.submit();
        }
    });

    listaConteudo.forEach(el => {
        el.ondblclick = () => {
            if (!editando) {
                editando = true;
                ultimoConteudoClicado = el.innerText;
                ultimoElementoPai = el.parentElement;

                let dados = criarFormParaEdicao(el.dataset.id);
                ultimoElementoPai.appendChild(dados[0]);
                el.remove();

                dados[1].focus();

                let btnEditar = document.querySelector(".btn-editar");

                let editarClicado = false;

                btnEditar.onclick = () => {
                    editarClicado = true;
                }

                dados[1].onblur = () => {
                    setTimeout(() => {
                        if (editarClicado) {
                            return;
                        } else {
                            editando = false;

                            ultimoElementoPai.appendChild(el);

                            dados[0].remove();
                        }
                    }, 200);
                }
            }
        }
    });

    function criarFormParaEdicao(id) {

        let form = document.createElement("form");
        form.action = "/Tarefas/EditarConteudo";
        form.classList.add("d-flex")
        form.classList.add("flex-grow-1")

        let inputId = document.createElement("input");
        inputId.type = "hidden";
        inputId.name = "Id";
        inputId.value = id;

        let divInputGroup = document.createElement("div");
        divInputGroup.classList.add("input-group")
        divInputGroup.classList.add("d-flex")

        let inputConteudo = document.createElement("input");
        inputConteudo.type = "text";
        inputConteudo.name = "Conteudo";
        inputConteudo.value = ultimoConteudoClicado;
        inputConteudo.classList.add("form-control");
        inputConteudo.classList.add("flex-grow-1");       

        let button = document.createElement("button");
        button.innerText = "Editar";
        button.classList.add("btn")
        button.classList.add("btn-warning")
        button.classList.add("btn-editar")

        divInputGroup.appendChild(inputConteudo);
        divInputGroup.appendChild(button);

        form.appendChild(inputId);
        form.appendChild(divInputGroup);


        return [form, inputConteudo];
    }
</script>