@using App.Models;
@model IEnumerable<App.ViewModels.NotaViewModel>
@{

    string verificaCor(Cor? cor)
    {
        switch (cor)
        {
            case Cor.Azul: return "bg-primary";
            case Cor.Cinza: return "bg-secondary";
            case Cor.Verde: return "bg-success";
            case Cor.Vermelho: return "bg-danger";
            case Cor.Amarelo: return "bg-warning";
            case Cor.Branco: return "bg-light";
            case Cor.Preto: return "bg-dark";
            default: return "";
        }
    }
}

<h1>Notas</h1>

<p>
    <a asp-action="Criar">Criar Novo</a>
</p>

<div class="row">
    @foreach (var nota in Model)
    {
        <div class="col-4 d-flex align-items-stretch">
            <div class="card text-white @verificaCor(nota.Cor) mb-3 w-100">
                <div class="card-header d-flex justify-content-between">
                    <h5>@nota.Titulo</h5>

                    <div class="d-flex gap-1">
                        <form asp-action="Editar" method="get" asp-route-id="@nota.Id">
                            <button class="btn btn-warning"><i class="fa-solid fa-pen"></i></button>
                        </form>

                        <form asp-action="Excluir" asp-route-id="@nota.Id">
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </div>
                </div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">@nota.Conteudo</p>
                </div>
            </div>
        </div>
    }
</div>