@using App.Models;
@model IEnumerable<App.ViewModels.NotaViewModel>
@{
    ViewData["Title"] = "Notas";

    string VerificarCorCard(Cor? cor)
    {
        switch (cor)
        {
            case Cor.Azul: return "bg-primary text-white";
            case Cor.Cinza: return "bg-secondary text-white";
            case Cor.Verde: return "bg-success text-white";
            case Cor.Vermelho: return "bg-danger text-white";
            case Cor.Amarelo: return "bg-warning text-white";
            case Cor.Branco: return "bg-light";
            case Cor.Preto: return "bg-dark text-white";
            default: return "";
        }
    }

    string DefineCorTexto(Cor? cor)
    {
        if (cor == Cor.Branco) return "text-dark";

        return "text-white";
    }

    string DefineCorBadge(Cor? cor)
    {
        if (cor == Cor.Preto) return "bg-light text-dark";

        return "bg-dark";
    }
}

<h1 class="text-center mb-3">@ViewData["Title"]</h1>

<p>
    <a asp-action="Criar">Criar Novo</a>
</p>

<div class="row">
    @foreach (var nota in Model)
    {
        <div class="col-4 d-flex align-items-stretch">
            <div class="card box-shadow @VerificarCorCard(nota.Cor) mb-3 w-100">
                <div class="card-header d-flex justify-content-between">
                    <h5>@nota.Titulo</h5>

                    <div class="d-flex gap-1">
                        <form asp-action="Editar" method="get" asp-route-id="@nota.Id">
                            <button class="btn btn-warning"><i class="fa-solid fa-pen"></i></button>
                        </form>

                        <form asp-action="Excluir" asp-route-id="@nota.Id">
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </div>
                </div>
                <div class="card-body d-flex flex-column align-items-start">
                    <span class="badge @DefineCorBadge(nota.Cor) mb-3">@nota.Categoria.Nome</span>
                    <p class="card-text">@nota.Conteudo</p>
                </div>
            </div>
        </div>
    }
</div>